<script lang="ts">
    import { onMount } from "svelte";

    export let _class: string = "";
    export let show_title: boolean = true;

    onMount(() => {
        const nav = document.getElementById("stellular:nav.Top")!;

        document.body.addEventListener("scroll", () => {
            if (document.body.scrollTop < 50) nav.classList.remove("scroll");
            else if (!nav.classList.contains("scroll")) nav.classList.add("scroll");
        });
    });
</script>

<nav class={`g-8 justify-space-between ${_class}`} id="stellular:nav.Top">
    {#if show_title}
        <!-- left -->
        <div>
            <a href="/"><b>Stellular</b></a>
        </div>

        <!-- right -->
        <div class="flex justify-right">
            <slot />
        </div>
    {:else}
        <slot />
    {/if}
</nav>
