<script lang="ts">
    import Hero from "$lib/components/Hero.svelte";
    import { Home } from "lucide-svelte";
    import { page } from "$app/stores";
</script>

<svelte:head>
    <title>{$page.status}: {($page.error || { message: "Unknown" }).message}</title>
</svelte:head>

{#if $page.error}
    <Hero>
        <h2 class="no-margin" style="max-width: 100%;">
            {$page.status}: {$page.error.message}
        </h2>

        <a href="/" class="button stellular-primary round">
            <Home size={18} />
            Return Home
        </a>
    </Hero>
{/if}
