<script lang="ts">
    import ThemeManager from "$lib/components/navigation/ThemeManager.svelte";
    import Toolbar from "$lib/components/dashboard/Toolbar.svelte";
    import TopNav from "$lib/components/navigation/TopNav.svelte";
    import Footer from "$lib/components/navigation/Footer.svelte";

    import {
        X,
        Menu,
        LayoutDashboard,
        LogOut,
        Orbit,
        MessagesSquare,
        User,
        CircleUser,
    } from "lucide-svelte";

    export let SidebarOpen = false;
    export let GalaxySidebarOpen = false;

    // get data
    import type { PageData } from "./$types";
    export let data: PageData;

    // stores
    import {
        AuthStore,
        GalaxyStore,
        PlanetStore,
        MessagesStore,
        PlanetsStore,
        MembershipStore,
    } from "$lib/stores";

    // loading thing
    import { blur, scale } from "svelte/transition";
    import { quintOut } from "svelte/easing";
    import { onMount } from "svelte";

    let loading: boolean = false; // true: enable

    onMount(() => {
        setTimeout(() => {
            loading = false;
        }, 500);
    });
</script>

<svelte:head>
    <!-- <title>☄️ Stellular</title> -->

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="stellular" />

    <!-- <meta property="og:title" content="☄️ Stellular" />
    <meta name="description" content="☄️ stellular - Personal social system" /> -->

    <meta property="theme-color" content="#fcd94a" />
</svelte:head>

{#if !loading}
    <div
        class="sidebar-layout-wrapper"
        transition:blur={{ duration: 300, amount: 10 }}
    >
        <div
            class={`sidebar fixed${
                SidebarOpen === true ? " open" : ""
            } mobile:max flex flex-column g-4`}
        >
            <div
                class="card border flex justify-space-between align-center"
                style="user-select: none;"
            >
                <b>Menu</b>
                <button
                    class="border round red"
                    on:click={() => (SidebarOpen = !SidebarOpen)}
                >
                    <X size={18} />
                </button>
            </div>

            {#if $AuthStore && data.user}
                <div
                    class="card border flex justify-space-between align-center"
                    style="background: transparent;"
                >
                    <b>Dashboard</b>
                    <a
                        href="/dashboard"
                        class="button border round"
                        on:click={() => (SidebarOpen = false)}
                    >
                        <LayoutDashboard size={18} />
                        My Dashboard
                    </a>
                </div>

                <div
                    class="card border flex justify-space-between align-center"
                    style="background: transparent;"
                >
                    <b>Direct Messages</b>
                    <a
                        href="/dashboard/galaxy/@me"
                        class="button border round"
                        on:click={() => (SidebarOpen = false)}
                    >
                        <MessagesSquare size={18} />
                        Messages
                    </a>
                </div>

                <div
                    class="card border flex justify-space-between align-center"
                    style="background: transparent;"
                >
                    <b>My Profile</b>
                    <a
                        href={`/u/${$AuthStore.Username}`}
                        class="button border round"
                        on:click={() => (SidebarOpen = false)}
                    >
                        <User size={18} />
                        View Profile
                    </a>
                </div>

                <div
                    class="card border flex justify-space-between align-center"
                    style="background: transparent;"
                >
                    <b>Logout</b>

                    <button
                        class="red round"
                        on:click={() => {
                            // send logout request
                            fetch("/api/auth/logout", { method: "POST" }).then(
                                () => {
                                    AuthStore.set(undefined);
                                    window.location.href = "/";
                                }
                            );
                        }}
                    >
                        <LogOut size={18} />
                        Logout
                    </button>
                </div>
            {/if}

            <div
                class="card border flex justify-space-between align-center"
                style="background: transparent;"
            >
                <b>Theme</b>
                <ThemeManager />
            </div>
        </div>

        <div class="content">
            {#if !data.galaxy_view}
                <TopNav>
                    <button
                        class="border round"
                        on:click={() => (SidebarOpen = !SidebarOpen)}
                    >
                        <Menu size={18} />
                    </button>
                </TopNav>
            {/if}

            {#if !data.galaxy_view}
                <slot />
            {:else}
                <div class="sidebar-layout-wrapper galaxy-view">
                    <div
                        class={`sidebar mobile:max${
                            GalaxySidebarOpen === true ? " open" : ""
                        }`}
                    >
                        <Toolbar
                            s3_public_endpoint={data.Config.s3_public_endpoint}
                        />

                        <div class="device:mobile">
                            <hr />

                            <div class="flex justify-center">
                                <button
                                    class="red round border"
                                    on:click={() =>
                                        (GalaxySidebarOpen = !GalaxySidebarOpen)}
                                >
                                    <X size={18} />
                                    Close Menu
                                </button>
                            </div>
                        </div>
                    </div>

                    <div
                        class="content mobile:max"
                        style="height: 100vh; width: calc(100vw - 25rem); overflow: hidden auto; position: relative;"
                    >
                        <TopNav show_title={false} _class="position:relative">
                            {#if $PlanetStore || $GalaxyStore}
                                <b>
                                    {(
                                        $PlanetStore ||
                                        $GalaxyStore || { Name: "Unknown" }
                                    ).Name}
                                </b>
                            {/if}

                            <div class="flex g-4 flex-wrap">
                                <button
                                    class="device:mobile mobile:flex round border"
                                    on:click={() =>
                                        (GalaxySidebarOpen = !GalaxySidebarOpen)}
                                >
                                    <Menu size={18} />
                                </button>

                                <button
                                    class="round border"
                                    on:click={() => (SidebarOpen = !SidebarOpen)}
                                >
                                    <CircleUser size={18} />
                                </button>
                            </div>
                        </TopNav>

                        <slot />
                    </div>
                </div>
            {/if}

            {#if !data.galaxy_view}
                <Footer />
            {/if}
        </div>
    </div>
{:else}
    <div
        style="width: 100dvw; height: 100dvh; display: grid; place-items: center; position: fixed;"
        out:scale={{ duration: 500, opacity: 0, start: 0, easing: quintOut }}
    >
        <Orbit size={64} />
    </div>
{/if}

<style>
    .sidebar.fixed + .content {
        width: 100%;
        height: 100dvh;
    }

    .sidebar.fixed {
        position: fixed;
        z-index: 10000;
        left: -100%;
        width: 20%;
    }

    .sidebar .card.border {
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .sidebar.open {
        left: 0;
    }

    .sidebar + .content {
        transition:
            transform 0.15s,
            filter 0.15s,
            opacity 0.15s;
    }

    .sidebar.open + .content {
        opacity: 50%;
        filter: blur(5px);
        transform: scale(0.9);
    }

    .sidebar-layout-wrapper.galaxy-view .sidebar {
        width: 25rem;
    }

    .sidebar-layout-wrapper.galaxy-view .sidebar + .content {
        height: calc(100vh - var(--nav-height));
    }

    @media screen and (max-width: 900px) {
        .sidebar {
            position: fixed;
            z-index: 10000;
            left: -100%;
            width: 20%;
        }
    }
</style>
