<script lang="ts">
    import Expandable from "$lib/components/Expandable.svelte";
    import { ArrowRight, Check } from "lucide-svelte";
    import { AuthStore, GalaxyStore } from "$lib/stores";

    export let error: string | undefined;

    // get data
    import type { PageData } from "./$types";
    export let data: PageData;

    if (data.user) AuthStore.set(data.user);
</script>

<svelte:head>
    <title>☄️ Join Galaxy - Stellular</title>
</svelte:head>

<main class="small flex flex-column g-8 justify-center align-center">
    {#if !$GalaxyStore}
        <h2 class="no-margin">Join Galaxy</h2>

        <div
            class="card secondary border round"
            style="width: 25rem;"
            on:submit={async (e) => {
                e.preventDefault();
                if (!e.target) return;

                // send request
                const res = await fetch(
                    // @ts-ignore
                    `/api/galaxy/invite/${e.target.Invite.value}`,
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                    }
                );

                const json = await res.json();

                // handle response
                if (json.success === false || json.success === undefined)
                    error = json.message || "Unknown Error";
                else GalaxyStore.set(json.payload[2]);
            }}
        >
            {#if error}
                <div class="mdnote note-error full">
                    <div class="mdnote-title">{error}</div>
                </div>
            {/if}

            <form class="full flex flex-column g-4">
                <label for="Invite"><b>Invite Code</b></label>

                <input
                    type="text"
                    name="Invite"
                    id="Invite"
                    placeholder="Galaxy Invite Code"
                    class="full round"
                    required
                    minlength={64}
                    maxlength={64}
                />

                <hr />

                <button class="stellular-primary full round">
                    <Check size={18} />
                    Join
                </button>
            </form>
        </div>
    {:else}
        <Expandable title="Galaxy joined!" open={true}>
            You're now a member of <b>{$GalaxyStore.Name}</b>
        </Expandable>

        <div class="full flex justify-space-between flex-wrap g-4 align-center">
            <span>When you're ready:</span>
            <a
                href={`/dashboard/galaxy/${$GalaxyStore.ID}`}
                class="button stellular-primary round"
            >
                Continue <ArrowRight size={18} />
            </a>
        </div>
    {/if}
</main>
