<script lang="ts">
    import Permissions from "$lib/db/objects/Permissions";
    import Expandable from "$lib/components/Expandable.svelte";

    import {
        AuthStore,
        GalaxyStore,
        MembershipStore,
        PlanetsStore,
    } from "$lib/stores";

    // get data
    import type { PageData } from "./$types";
    import { Orbit } from "lucide-svelte";
    export let data: PageData;

    if (data.user) AuthStore.set(data.user);
    if (data.galaxy) GalaxyStore.set(data.galaxy[2]);
    if (data.planets) PlanetsStore.set(data.planets[2]);
    if (data.membership) MembershipStore.set(data.membership);

    // ...
    const membership_title = Object.keys(Permissions.MEMBERSHIP_STATUS).filter(
        (s: any) => Permissions.MEMBERSHIP_STATUS[s] === data.membership
    );
</script>

<svelte:head>
    <title>
        ☄️ {$GalaxyStore ? $GalaxyStore.Name : "Unknown Galaxy"} - Stellular
    </title>

    <!-- open graph -->
    <meta
        property="og:title"
        content={`☄️ ${
            $GalaxyStore ? $GalaxyStore.Name : "Unknown Galaxy"
        } - Stellular`}
    />

    <meta name="description" content="View galaxy planets and messages" />
</svelte:head>

{#if $AuthStore && $GalaxyStore}
    <main class="flex flex-column g-8">
        <!-- introduction -->
        <div class="device:desktop">
            <h1 class="no-margin flex align-center g-8" style="margin-top: 1rem;">
                <Orbit size={42} />
                {$GalaxyStore.Name}
            </h1>

            <h3
                class="no-margin"
                style="margin-bottom: 2rem; font-weight: 400; opacity: 75%;"
            >
                Welcome, {$AuthStore.Username}!
            </h3>
        </div>
        <!-- actions -->
        {#if data.membership >= Permissions.MINIMUM_ACTION_REQUIREMENTS.VIEW_INVITE}
            <Expandable title="Invite Friends">
                You can allow users to join this galaxy by giving them the galaxy
                invite code: <b>{$GalaxyStore.Invite}</b>
            </Expandable>
        {/if}

        <Expandable title="Galaxy Information">
            <ul>
                <li>
                    Your rank: {data.membership} ({membership_title.length > 0
                        ? membership_title[0]
                        : "Unknown"})
                </li>
            </ul>
        </Expandable>

        <Expandable title="Navigate to a planet!">
            <p>
                You must navigate to a "planet" (channel) before you'll see any
                information here!
            </p>
        </Expandable>
    </main>
{/if}
