<script lang="ts">
    import { X } from "lucide-svelte";

    import ContextMenuZone from "$lib/components/dashboard/context/ContextMenuZone.svelte";
    import GeneralMenuOptions from "$lib/components/dashboard/context/GeneralMenuOptions.svelte";

    import Toolbar from "$lib/components/dashboard/Toolbar.svelte";
    import Message from "$lib/components/dashboard/message/Message.svelte";

    import { AuthStore, GalaxyStore, PlanetStore, MessagesStore } from "$lib/stores";

    // get data
    import type { PageData } from "./$types";
    export let data: PageData;

    if (data.user) AuthStore.set(data.user);
    if (data.galaxy) GalaxyStore.set(data.galaxy[2]);
    if (data.planet) PlanetStore.set(data.planet[2]);
    if (data.message) MessagesStore.set([data.message[2]]);
</script>

<svelte:head>
    <title>
        ☄️ Message in {$PlanetStore ? $PlanetStore.Name : "Unknown Planet"} - Stellular
    </title>

    <!-- open graph -->
    <meta
        property="og:title"
        content={`☄️ Message in ${
            $PlanetStore ? $PlanetStore.Name : "Unknown Planet"
        } - Stellular`}
    />

    <meta name="description" content="View planet message" />
</svelte:head>

{#if $AuthStore && $GalaxyStore && $PlanetStore && $MessagesStore}
    <main class="flex flex-column g-8">
        <p>
            Viewing message <b>{data.message.ID}</b>
        </p>

        {#if $PlanetStore.Type === "feed" || $PlanetStore.Type === "text"}
            <ContextMenuZone>
                <Message message={data.message} {data} secondary={true} />

                <!-- menu actions -->
                <div class="flex flex-column g-4" slot="actions">
                    <GeneralMenuOptions />

                    <button
                        class="red round full justify-start"
                        on:click={() => window.close()}
                    >
                        <X size={18} />
                        Close
                    </button>
                </div>
            </ContextMenuZone>
        {/if}
    </main>
{/if}
