<script lang="ts">
    import Expandable from "$lib/components/Expandable.svelte";
    import { UserPlus, ArrowRight } from "lucide-svelte";
    import { AuthStore } from "$lib/stores";

    export let error: string | undefined;
</script>

<svelte:head>
    <title>☄️ New Account - Stellular</title>
</svelte:head>

<main class="small flex flex-column g-8 justify-center align-center">
    {#if !$AuthStore}
        <h2 class="no-margin">New Account</h2>

        <div
            class="card secondary border round"
            style="width: 25rem;"
            on:submit={async (e) => {
                e.preventDefault();
                if (!e.target) return;

                // create body
                const body = JSON.stringify({
                    // @ts-ignore
                    Username: e.target.Username.value,
                });

                // send request
                const res = await fetch("/api/auth/new", {
                    method: "POST",
                    body,
                    headers: {
                        "Content-Type": "application/json",
                    },
                });

                const json = await res.json();

                // handle response
                if (json.success === false || json.success === undefined)
                    error = json.message || "Unknown Error";
                else AuthStore.set(json.payload);
            }}
        >
            {#if error}
                <div class="mdnote note-error full">
                    <div class="mdnote-title">{error}</div>
                </div>
            {/if}

            <form class="full flex flex-column g-4">
                <label for="Username"><b>Username</b></label>

                <input
                    type="text"
                    name="Username"
                    id="Username"
                    placeholder="my-unique-username"
                    class="full round"
                    required
                    minlength={4}
                    maxlength={32}
                />

                <hr />

                <button class="stellular-primary full round">
                    <UserPlus size={18} />
                    Create Account
                </button>
            </form>
        </div>
    {:else}
        <Expandable title="Welcome to the club!" open={true}>
            <div class="flex flex-column g-8">
                <span>
                    Your account has been created! Your account ID/password is:
                </span>

                <div class="card border round flex justify-center align-center">
                    {$AuthStore.UnhashedID}
                </div>

                <span>
                    <b>do not lose it!</b>
                    You'll need this ID to login, and it
                    <b>cannot</b>
                    be reset.
                </span>
            </div>
        </Expandable>

        <div class="full flex justify-space-between flex-wrap g-4 align-center">
            <span>When you're ready:</span>
            <a href="/dashboard" class="button stellular-primary round">
                Continue <ArrowRight size={18} />
            </a>
        </div>
    {/if}
</main>
