<script lang="ts">
    import Expandable from "$lib/components/Expandable.svelte";
    import { ArrowRight, LogIn } from "lucide-svelte";
    import { AuthStore } from "$lib/stores";

    export let error: string | undefined;
</script>

<svelte:head>
    <title>☄️ Login - Stellular</title>
</svelte:head>

<main class="small flex flex-column g-8 justify-center align-center">
    {#if !$AuthStore}
        <h2 class="no-margin">Login</h2>

        <div
            class="card secondary border round"
            style="width: 25rem;"
            on:submit={async (e) => {
                e.preventDefault();
                if (!e.target) return;

                // create body
                const body = JSON.stringify({
                    // @ts-ignore
                    UserID: e.target.UserID.value,
                });

                // send request
                const res = await fetch("/api/auth/login", {
                    method: "POST",
                    body,
                    headers: {
                        "Content-Type": "application/json",
                    },
                });

                const json = await res.json();

                // handle response
                if (json.success === false || json.success === undefined)
                    error = json.message || "Unknown Error";
                else AuthStore.set(json.payload);
            }}
        >
            {#if error}
                <div class="mdnote note-error full">
                    <div class="mdnote-title">{error}</div>
                </div>
            {/if}

            <form class="full flex flex-column g-4">
                <label for="UserID"><b>Account ID</b></label>

                <input
                    type="text"
                    name="UserID"
                    id="UserID"
                    placeholder="00000000-0000-0000-0000-000000000000"
                    class="full round"
                    required
                    minlength={36}
                    maxlength={36}
                />

                <hr />

                <button class="stellular-primary full round">
                    <LogIn size={18} />
                    Login
                </button>
            </form>
        </div>
    {:else}
        <Expandable title="Welcome back!" open={true}>
            Successfully signed in.
        </Expandable>

        <div class="full flex justify-space-between flex-wrap g-4 align-center">
            <span>When you're ready:</span>
            <a href="/dashboard" class="button stellular-primary round">
                Continue <ArrowRight size={18} />
            </a>
        </div>
    {/if}
</main>
