<script lang="ts">
    import { Boxes, PlusSquare } from "lucide-svelte";

    import Expandable from "$lib/components/Expandable.svelte";
    import { AuthStore } from "$lib/stores";

    // get data
    import type { PageData } from "./$types";
    export let data: PageData;

    if (data.user) AuthStore.set(data.user);
</script>

<svelte:head>
    <title>☄️ Go to - Stellular</title>

    <!-- open graph -->
    <meta property="og:title" content="☄️ Manage Position - Stellular" />
    <meta name="description" content="Manage position in Stellular" />
</svelte:head>

{#if $AuthStore}
    <main class="small flex flex-column g-4">
        <Expandable title="Galaxies" open={true}>
            <div class="flex g-4 flex-wrap">
                {#each data.groups as group}
                    <a
                        href={`/dashboard/galaxy/${group.ID}`}
                        class="button border round"
                    >
                        <Boxes size={18} />
                        {group.Name}
                    </a>
                {:else}
                    <p>You're not a member of any galaxies!</p>
                {/each}
            </div>

            <hr />

            <a href="/dashboard/galaxy/create" class="button green-cta round">
                <PlusSquare size={18} />
                Create
            </a>
        </Expandable>
    </main>
{/if}
