<script lang="ts">
    import { ChevronRight } from "lucide-svelte";

    import { fly } from "svelte/transition";
    import { quintOut } from "svelte/easing";

    export let title: string = "";
    export let open: boolean = false;
</script>

<details class="file-list-entry full round" {open}>
    <summary class="option full g-8 justify-space-between">
        <span class="flex g-8">
            <ChevronRight size={24} />
            {title}
        </span>

        <slot name="actions" />
    </summary>

    <div class="content">
        <slot />
    </div>
</details>
